.content {
  text-align: center;
}

.body {
  margin-top: 20px;
  padding-right: 10%;
  padding-left: 10%;
}

.charts {
  padding-left: 28%;
  padding-right: 20%;
  overflow-x: hidden;
  overflow-y: hidden;
}
