.container {
  position: relative;
  height: 100vh;
  width: 256px;
  overflow: hidden;
}

.darkMode {
  background-color: rgb(6, 14, 22);
  -webkit-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
}

.logo {
  width: inherit;
  position: absolute;
  bottom: 0;
  padding: 20px;
  background-color: inherit;
  pointer-events: none;
  cursor: pointer;
}

.darkModeSwitch {
  margin-left: 49px;
  text-decoration: inherit;
}
