@import "~antd/dist/antd.css";

.App {
  height: 100%;
}

.site-layout-background {
  background-color: rgb(6, 14, 22);
}
/* Antd css override*/
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #afff26 !important;
}

.ant-menu-dark .ant-menu-item-selected {
  color: navy;
  border-right: 0;
}
.ant-menu-dark .ant-menu-item-selected :hover {
  color: navy;
  border-right: 0;
}

.ant-menu-dark .ant-menu-item-selected > a,
.ant-menu-dark .ant-menu-item-selected > span > a,
.ant-menu-dark .ant-menu-item-selected > a:hover,
.ant-menu-dark .ant-menu-item-selected > span > a:hover {
  color: navy;
}
